body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  margin:0;
}

button {
  border: none;
  padding: 5px 10px;
  color: white;
  background-color: rgb(25, 118, 210);
  border-radius: 4px;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}

button:hover {
  cursor: pointer;
}

.metrnome {
  width:500px;
  border: 1px solid black;
  border-radius: 10px;
}

.bpmDisplay {
  text-align: center;
}

.beatDisplay {
  width: 100%;
}

.beatDisplay tbody tr {
  width: 100%;
}

.beatDisplay tr {
  width: 100%;
  display: flex;
  justify-content: center;
}

.beat {
  display: block;
  margin: 0 10px;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background-color: gainsboro;
}

.bpmSliderWrap input {
  width: 100%;
}

.bpmSliderWrap {
  margin: 10px;
}

.metronomeButton{
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
}

.beatWrap {
  display: flex;
  justify-content: center;
  margin: 0 0 10px 0;
}

.beatWrap p {
  margin: 0 10px;
}

.metrnome p {
  text-align: center;
}